@if (isNoProducts) {
  <div class="text-center mt-3 empty mb-3">
    <div class="empty-cart-container">
      <h3>Your cart is empty.</h3>
      <p class="empty-cart-message">It looks like you haven't added any items to your cart yet. Start shopping and add
      items to your cart to see them here.</p>
      <a class="btn btn-primary mt-3" routerLink="/furniture">Go to Shop</a>
    </div>
  </div>
}

@if (!isNoProducts) {
  <div class="container mt-4">
    <div class="mb-3" align="right">
      <button type="button" class="btn" style="background-color: #3b5d50; color: white;"
      (click)="checkOut()">Checkout</button>
    </div>
    <div class="table-responsive"> <!-- Responsive table wrapper -->
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="text-center">Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (item of products; track item) {
            <tr>
              <td class="text-center"> <!-- Center image -->
                <img [src]="item.product.productImages[0]?.url"
                  alt="{{ item.product.title }}">
                </td>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.description }}</td>
                <td>₹{{ item.product.price }}</td>
                <td class="text-center">
                  <button class=" btn btn-outline-danger btn-sm" (click)="removeProduct(item.cartId)"
                    aria-label="Remove item" title="Remove item">
                    <i class="bi bi-x-circle-fill"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }

  <!-- <app-loading [isLoading]="isLoading"></app-loading> -->