<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-5">

      @if (!displayPassword) {
        <h3 class="text-center mb-3">OTP sent your email</h3>
      }
      @if (displayPassword) {
        <h3 class="text-center mb-3">Update your password</h3>
      }
      <div class="card">
        <div class="card-body">
          <!-- OTP -->
          @if (!displayPassword) {
            <div>
              <div class="mb-3">
                <label for="otp" class="form-label"></label>
                <input type="text" id="otp" name="otp" class="form-control" required [(ngModel)]="otp"
                  placeholder="Enter 6-Digit OTP">
                </div>
                <button type="submit" class="btn w-100 btn-warning" (click)="verifyOtp()"> @if (loading) {
                  <span
                    class="spinner-border spinner-border-sm custom-spinner" role="status"
                  aria-hidden="true"></span>
                }
                @if (!loading) {
                  <span class="text-dark">Verify otp</span>
                }
              </button>
            </div>
          }

          <!-- Update password -->
          @if (displayPassword) {
            <div>
              <div class="mb-3">
                <label for="otp" class="form-label"></label>
                <input type="password" id="otp" name="otp" class="form-control" required
                  [(ngModel)]="newPassword" placeholder="Enter new password">
                </div>
                <button type="submit" class="btn w-100 btn-warning" (click)="updatePassword()"> @if (loading) {
                  <span
                    class="spinner-border spinner-border-sm custom-spinner" role="status"
                  aria-hidden="true"></span>
                }
                @if (!loading) {
                  <span class="text-dark">Update password</span>
                }
              </button>
            </div>
          }
          @if (verificationError) {
            <p class="text-danger text-center mt-3">Invalid otp!. Please
              try
            again.</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>