/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
    font-family: "Inter", sans-serif;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

input:focus {
    box-shadow: none !important;
}

textarea:focus {
    box-shadow: none !important;
}

a {
    cursor: pointer;
}

select {
    cursor: pointer;
    box-shadow: none !important;
}